body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0d1a;
  color: white;
  text-align: center;
}

header {
  padding: 30px;
  background: linear-gradient(90deg,#00c6ff,#9b00ff);
}

main {
  padding: 40px;
}

.card {
  background: #15182d;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

#ad {
  font-size: 32px;
}

.ad-box {
  background: #15182d;
  padding: 25px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

.fake-ad {
  height: 150px;
  background: #000;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

button {
  padding: 10px 20px;
  background: #00c6ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
